body {
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
  background-color: #FED541;
  background-repeat: no-repeat;
  background-size: cover;
}

body button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: bolder;
  background-color: #FED541;
  color: #6E111C;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  width:min-content;
  align-self: center;
  margin-left: 30px;
}


